@model IEnumerable<Titan_BugTracker.Models.ViewModels.ManageUserRolesViewModel>
    <div class="page-content-tab">
        <div class="row">
            @foreach (var member in Model)
            {
                <div class="card col-5" style="margin:2px">
                    <div class="card-body">
                        <div class="met-profile-main-pic">

                            @if (member.BTUser.AvatarFileData != null)

                            {
                                <img src="data:image/*;base64, @(Convert.ToBase64String(member.BTUser.AvatarFileData))" id="imageFileData" alt="" height="110" class="rounded-circle">
                            }
                            else
                            {
                                <img src="~/img/noImage.jpg" id="imageFileData" height="110" class="rounded-circle">
                            }


                            <h2 class="m-t-0 h3"><b>@member.BTUser.FullName</b></h2>
                            <p class="text-muted font-13 m-b-30">

                            </p>
                        </div>
                        <hr />
                        <form asp-controller="UserRoles" asp-action="ManageUserRoles" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="@member.BTUser.Id" />

                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="@member.Roles" class="control-label">Roles for @member.BTUser.FullName</label>
                                    <select asp-for="@member.SelectedRoles" class="form-control" asp-items="@member.Roles" multiple="multiple"></select>
                                </div>
                            </div>
                            <hr />
                            <div class="col">
                                <div class="form-group pull-right">
                                    <input type="submit" value="Assign Role" class="btn btn-primary btn-sm" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>